/*FONTS*/
@font-face {
  font-family: 'hammersmithoneregular';
  src: url("../fonts/hammersmithone-regular.woff2") format("woff2"), url("../fonts/hammersmithone-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'playfair_displayblack';
  src: url("../fonts/playfairdisplay-black.woff2") format("woff2"), url("../fonts/playfairdisplay-black.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'playfair_displaybold';
  src: url("../fonts/playfairdisplay-bold.woff2") format("woff2"), url("../fonts/playfairdisplay-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'playfair_displayregular';
  src: url("../fonts/playfairdisplay-regular.woff2") format("woff2"), url("../fonts/playfairdisplay-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoblack';
  src: url("../fonts/roboto-black.woff2") format("woff2"), url("../fonts/roboto-black.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotothin';
  src: url("../fonts/roboto-thin.woff2") format("woff2"), url("../fonts/roboto-thin.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto-light.woff2") format("woff2"), url("../fonts/roboto-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%; }

body {
  font-family: "robotolight",  'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  height: 100%;
  letter-spacing: 0.7px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

h3 {
  font-family: "playfair_displaybold", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.1px; }

/*logo*/
.logo-text {
  font-family: "robotothin", sans-serif;
  font-size: 30px;
  background-image: linear-gradient(to right, #00e0d0, #4aa3cc), linear-gradient(#ffffff, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

/*main-btn*/
.main-btn {
  min-width: 120px;
  display: inline-block;
  color: #00e0d0;
  border: solid 1px #00e0d0;
  border-radius: 2px;
  font-family: "hammersmithoneregular", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 15px 8px;
  background-color: transparent; }
  .main-btn:hover {
    border: 1px dotted #00e0d0; }

/*subtitle*/
.subtitle {
  font-family: "playfair_displayregular", sans-serif;
  font-size: 14px;
  letter-spacing: 1.1px; }

/*author*/
.name {
  display: block;
  font-family: "robotoblack", sans-serif;
  letter-spacing: 0.7px;
  text-transform: uppercase; }

/*position*/
.position {
  font-family: "robotolight", sans-serif;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase; }

/*overflow hidden*/
.overflow-hidden {
  overflow: hidden !important; }

/*button*/
.header {
  position: absolute;
  background-color: transparent;
  width: 100%;
  z-index: 2;
  /*wrapper*/
  /*navigation*/
  /*burger*/ }
  .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .header-nav {
    overflow: hidden;
    display: none;
    padding-top: 125px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /*nav-item*/
    /*nav-link*/ }
    .header-nav_item {
      display: block;
      font-family: "robotoblack", sans-serif;
      font-size: 24px;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .header-nav_link {
      color: #fff; }
      .header-nav_link:hover {
        color: #00e0d0; }
  .header-burger {
    display: none; }

/*burger button*/
/*burger - button*/
.burg-wrapper {
  width: 20px;
  height: 15px;
  position: relative;
  margin: 50px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 3; }

.bar1, .bar2, .bar3, .bar4 {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  opacity: 1;
  left: 0;
  transition: .25s ease-in-out; }

.bar1, .bar4 {
  background-color: #00e0d0; }

.bar1 {
  top: 0; }

.bar2, .bar3 {
  top: 7px;
  background-color: #fff; }

.bar4 {
  top: 14px; }

.change .bar1,
.change .bar4 {
  top: 10px;
  width: 0;
  left: 50%; }

.change .bar2 {
  transform: rotate(45deg); }

.change .bar3 {
  background-color: #00e0d0;
  transform: rotate(-45deg); }

/*MEDIA QUERIES*/
@media (min-width: 768px) {
  .header {
    /*hide navigation*/ }
    .header-nav {
      background-color: transparent;
      position: static;
      display: block;
      padding: 0;
      width: auto;
      height: auto;
      /*nav-item*/
      /*nav-link*/ }
      .header-nav-list {
        list-style: none; }
      .header-nav_item {
        display: inline-block;
        font-size: 13px;
        letter-spacing: 0.3px;
        text-transform: uppercase; }
      .header-nav_link {
        color: #fff; }
        .header-nav_link:hover {
          color: #00e0d0; }
  /*nav link margin*/
  .header-nav_item + .header-nav_item {
    margin-left: 30px; } }

@media (max-width: 768px) {
  /*burger appears*/
  .header-burger {
    display: block; } }

.intro {
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-image: url("../img/header-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  /*wrapper*/
  /*title*/
  /*text*/ }
  .intro-wrap {
    text-align: center;
    color: #fff; }
  .intro .intro-item {
    padding-top: 80px;
    display: flex;
    align-items: center;
    height: 100vh; }
  .intro-title {
    font-family: "playfair_displayblack", sans-serif;
    font-size: 32px; }
  .intro-text {
    line-height: 1.71;
    letter-spacing: 0.7px;
    margin: 15px 0 50px 0; }
  .intro:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2e1b5b;
    opacity: 0.85;
    z-index: -1; }

.about {
  /*wrapper*/
  /*image*/
  /*text*/
  /*button*/
  /*VIDEO*/ }
  .about-wrapper {
    padding-top: 70px;
    padding-bottom: 70px; }
  .about-img {
    width: 100%;
    max-width: 250px; }
  .about-text {
    line-height: 1.57;
    letter-spacing: 0.4px;
    margin-top: 30px; }
  .about-button {
    margin-top: 30px;
    display: inline-block; }
  .about-video {
    width: auto;
    position: relative; }

/*video*/
.video {
  border: 1px solid black;
  position: relative;
  width: 100%;
  height: 550px;
  background-image: url("../img/video-poster.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

/*play/stop button*/
.playpause {
  text-align: center;
  width: 160px;
  height: 160px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }
  .playpause-img {
    width: 90px;
    height: 90px; }
  .playpause-text {
    color: #fff;
    font-family: "robotoblack", sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-top: 30px; }

@media (max-width: 991px) {
  .about-wrapper {
    text-align: center; } }

.expertise {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  /*wrapper*/
  /*item*/
  /*item-title*/
  /*img*/
  /*text*/
  line-height: 1.57;
  letter-spacing: 0.7px; }
  .expertise-wrap {
    max-width: 940px;
    margin: 40px auto 0; }
  .expertise-item {
    padding: 40px 30px; }
  .expertise-title {
    font-family: "robotoblack", sans-serif;
    letter-spacing: 0.7px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 25px 0; }
  .expertise-img {
    height: 50px; }

/*borders for items*/
.optimization, .game, .love {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.brand, .game {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1); }

/*MEDIA QUERIES*/
@media (max-width: 768px) {
  .optimization, .game, .love, .brand, .game {
    border: none; } }

@media (min-width: 768px) and (max-width: 992px) {
  .expertise-item {
    height: 310px; } }

.team {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  background-image: url("../img/team-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  color: #fff;
  /*wrapper for items*/
  /*description for photo*/
  /*photo of team member*/
  /*join to our team*/ }
  .team-wrap {
    padding-top: 45px;
    padding-bottom: 70px; }
  .team-description {
    border: solid 1px rgba(225, 225, 225, 0.5);
    padding: 20px 0 25px; }
  .team-img {
    max-width: 300px;
    width: 100%; }
  .team-join {
    margin-bottom: 25px; }
  .team:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2e1b5b;
    opacity: 0.85;
    z-index: -1; }

@media (max-width: 767px) {
  .team-wrap {
    padding-bottom: 0; }
  .team-description {
    border: none; } }

.portfolio {
  padding-top: 70px;
  padding-bottom: 70px;
  /*title*/
  /*dribble profects*/
  /*button*/ }
  .portfolio-title {
    display: inline-block; }
  .portfolio-projects {
    float: right; }
  .portfolio-wrap {
    height: 400px;
    overflow: hidden; }
  .portfolio-item {
    width: 16.66666667%;
    float: left;
    height: 200px; }
  .portfolio-img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .portfolio-btn {
    margin-top: 40px; }

.photo-album {
  margin-top: 70px;
  text-align: center; }

@media (max-width: 768px) {
  .portfolio {
    /*if no javascript*/
    /*if no javascript*/ }
    .portfolio-wrap {
      height: 200px; }
    .portfolio-item {
      height: 100px; } }

.testimonials {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  background-image: url("../img/testimonials-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  color: #fff;
  /*quote*/
  /*text*/
  /*description*/
  /*photo*/ }
  .testimonials-quote {
    font-family: "playfair_displayregular", sans-serif;
    font-size: 100px;
    height: 20px;
    display: inline-block; }
  .testimonials-text {
    display: block;
    font-family: "playfair_displayregular", sans-serif;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.4px; }
  .testimonials-description {
    margin: 50px 0 45px; }
  .testimonials-photo {
    /*item*/
    /*image*/ }
    .testimonials-photo-wrap {
      max-width: 400px;
      margin: 0 auto; }
    .testimonials-photo-item {
      width: 70px;
      height: 45px;
      margin: 15px 0; }
    .testimonials-photo-img {
      width: 100%;
      max-width: 100%;
      height: 45px;
      border-radius: 50%;
      padding: 0 10px; }
  .testimonials:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2e1b5b;
    opacity: 0.85;
    z-index: -1; }

.slick-slide {
  transform: scale(1);
  transition: .3s ease-in-out all; }

.slick-slide.slick-center {
  transform: scale(1.5); }

@media (max-width: 768px) {
  .testimonials-photo-wrap {
    max-width: 200px; } }

.contact {
  padding-top: 70px;
  padding-bottom: 70px;
  /*FORM*/
  /*button*/
  /*CLIENTS*/ }
  .contact-form {
    margin: 30px 0 0; }
    .contact-form_input {
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      max-width: 100%; }
  .contact-btn {
    margin-top: 20px; }
  .contact-clients {
    /*wrapper*/
    /*images*/ }
    .contact-clients-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 30px;
      text-align: center; }
    .contact-clients-image {
      margin-top: 45px; }

/*margin for inputs*/
.contact-form_input + .contact-form_input {
  margin-top: 20px; }

/*text area*/
.message {
  height: 200px; }

/*margin for clients icon*/
.zara, .mango {
  margin-top: 0; }

@media (max-width: 767px) {
  .contact {
    text-align: center; }
    .contact-clients {
      margin-top: 30px; } }

.footer {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url("../img/footer-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  color: #fff;
  /*title*/
  /*COMPANY*/
  /*CONTACT*/
  /*SUBSCRIBE*/
  /*SOCIAL*/
  /*BOTTOM*/
  /*info*/
  /*copyright*/ }
  .footer-title {
    font-family: "robotoblack", sans-serif;
    font-size: 15px;
    line-height: 1.73;
    letter-spacing: 0.8px;
    margin: 15px 0 38px; }
  .footer-company {
    /*text*/ }
    .footer-company_text {
      line-height: 1.86;
      margin-top: 25px;
      letter-spacing: 0.4px; }
  .footer-contact {
    line-height: 1.86;
    letter-spacing: 0.4px;
    /*adress*/
    /*telephone*/ }
    .footer-contact_address {
      display: inline-block;
      padding-left: 30px;
      position: relative; }
      .footer-contact_address:before {
        content: "";
        position: absolute;
        left: 0;
        width: 20px;
        height: 20px;
        background-image: url("../img/address.png");
        background-position: center center;
        background-repeat: no-repeat; }
    .footer-contact_telephone {
      display: inline-block;
      margin-top: 25px;
      padding-left: 30px;
      position: relative; }
      .footer-contact_telephone:before {
        content: "";
        position: absolute;
        left: 0;
        width: 20px;
        height: 20px;
        background-image: url("../img/phone.png");
        background-position: center center;
        background-repeat: no-repeat; }
  .footer-subscribe {
    /*form*/
    /*input*/
    /*button*/ }
    .footer-subscribe_form {
      margin: 0; }
    .footer-subscribe_input {
      padding: 10px 15px;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.5); }
    .footer-subscribe_btn {
      height: 42px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      background-color: rgba(255, 255, 255, 0.5);
      background-image: url("../img/footer-btn.png");
      background-position: center center;
      background-repeat: no-repeat; }
  .footer .footer-social {
    margin-top: 25px; }
    .footer .footer-social_item {
      display: inline-block;
      border: 1px solid #fff;
      border-radius: 15px; }
      .footer .footer-social_item a {
        background-repeat: no-repeat;
        background-position: center center;
        width: 30px;
        height: 30px;
        display: block; }
  .footer-bottom {
    margin-top: 70px;
    display: flex;
    justify-content: space-between; }
  .footer-info {
    /*item*/
    /*link*/ }
    .footer-info_item {
      display: inline-block;
      list-style: none; }
    .footer-info_link {
      font-family: "robotoregular", sans-serif;
      font-size: 14px;
      line-height: 1.86;
      letter-spacing: 0.4px;
      color: #fff;
      text-transform: uppercase; }
  .footer-copyright_text {
    line-height: 1.86; }
  .footer:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2e1b5b;
    opacity: 0.85;
    z-index: -1; }

/*social icons*/
.footer-social_item .fb {
  background-image: url("../img/fb-icon.png"); }

.footer-social_item .tw {
  background-image: url("../img/tw-icon.png"); }

.footer-social_item .dr {
  background-image: url("../img/dr-icon.png"); }

.footer-social_item .in {
  background-image: url("../img/in-icon.png"); }

.footer-social_item .g {
  background-image: url("../img/g-icon.png"); }

.footer-social_item .you {
  background-image: url("../img/you-icon.png"); }

.footer-social_item + .footer-social_item {
  margin-left: 5px; }

/*MEDIA*/
@media (max-width: 991px) {
  .footer {
    text-align: center; }
  .footer-subscribe_input {
    vertical-align: top; } }

@media (min-width: 768px) {
  .footer-info_item + .footer-info_item {
    margin-left: 50px; } }
